@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:400,700&display=swap");

/* font-family: 'Abril Fatface', cursive;
font-family: 'Open Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  line-height: 1.5em;
  color: #747474;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}
body {
  height: 100vh;
  display: flex;
}
.main {
  display: flex;
    width: 50%;
  height: 55%;
  margin:  auto;
  border-radius: 10px;
  /* display: flex; */
  /* background: rgb(249, 63, 76); */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in 0.1s;
}
/* PAGE HOME */
.home {

justify-content: space-between;
margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: white;
  background: rgb(236, 224, 152);
  display: flex; /* flex or none */
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 0.4s ease-in 0.2s;
}
.home h1 {
  margin-bottom: 80px;
  color: white;
  text-align: center;
}
.home h1 span {
  color: white;
  display: block;
  font-size: 2.5em;
  font-family: "Abril Fatface", cursive;
}
.home p {
  margin-top: 40px;
}
.home p a {
  color: white;
}
a.link-copy {
  text-decoration: none;
}
.btn {
  background: none;
  border: 2px solid white;
  border-radius: 150px;
  align-self: center;
  width: 150px;
  padding: 8px 16px;
  margin: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease-in-out 0.1s;
}
.btn:hover {
  background: white;
  color: rgb(236, 224, 152);
}

/* PAGE SING UP */
.sign-up {
  display: none; /*flex or none*/
  opacity: 1;
  width: 100%;
  height: 100%;
}
.signup-left {
  width: 50%;
  /* padding: 20px; */
  opacity: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  font-size: 14px;
  background: rgb(236, 224, 152);
  border-radius: 10px 0 0 10px;
  transition: all 0.5s ease-in 0.2s;
}
.signup-left h1 {
  font-size: 21px;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 2px;
}
.signup-left h1,
.signup-left div,
.signup-left h3,
.signup-left p {
  color: white;
}
.signup-left h3 {
  font-size: 2.2em;
}

.btn-back {
  align-self: flex-start;
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.angle-left-color {
  color: white;
  margin-right: 5px;
}
.form-area {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 20%;
  height: 60%;
  padding: 20px 0;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 2;

  opacity: 0;
  transition: opacity 0.5s ease-in 0.2s;
}
.organize-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}
.organize-form h2 {
  font-size: 1.4em;
  font-weight: normal;
}
.organize-form h2::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background: rgb(236, 224, 152);
  margin: 0 auto;
}
.organize-form p a {
  color: rgb(22, 22, 21);
  text-decoration: none;
  font-weight: bold;
}
.form-area-signup {
  /* display: none; */
  opacity: 0;
  transition: all 0.4s ease-in 0.2s;
}
.form-area-signin {
  /* display: none; */
  opacity: 0;
  transition: all 0.4s ease-in 0.2s;
}

.form {
  width: 85%;
}
.form-field {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}
.form-field input {
  border: none;
  padding: 5px;
  border-bottom: 1px solid rgba(116, 116, 116, 0.44);
  height: 30px;
  transition: border-bottom 0.1s ease-in-out 0.1s;
}
.form-field input:focus {
  border-bottom: 1px solid rgb(236, 224, 152);
}
.form-field label {
  position: relative;
  top: 25px;
  left: 5px;
  cursor: text;
  transition: all 0.2s ease-in-out 0.1s;
  color: rgba(116, 116, 116, 0.44);
  user-select: none;
}
.btn-sign {
  border: none;
  background: rgb(236, 224, 152);
  color: white;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.1s ease 0.1s;
}
.btn-sign:hover {
  background: rgb(236, 224, 152);
}
.signup-right {
  width: 50%;
  padding: 20px;
  background: white;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-end;
  background-image: url("../img/MZTALKlogo2.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 235% 50%;

  opacity: 0;
  transition: opacity 0.5s ease-in 0.2s, background-position-x 0.5s ease-in 0.2s;
}
.bars-style {
  color: rgb(236, 224, 152);
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 1023px) {
  .main {
    width: 100%;
    height: 100%;
  }
  .home, .signup-left { border-radius: 0; }
  .form-area {
    left: 35%;
    width: 30%;
    height: 70%;
  }
}
@media (max-width: 768px) {
  .form-area {
    left: 20%;
    width: 60%;
  }
  .wc_message {
/*     display: none; */
    opacity: 0;
    transition: opacity .1s;
  }
}

@media (max-width: 375px) {
  .form-area {
    left: 10%;
    width: 80%;
  }
}


.w-btn-outline {
  position: relative;
  /* padding: 10px 2px; */
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  transition: 0.25s;
  margin:0 auto;
  width:100px;
}

.w-btn-yellow-outline {
  border: 3px solid #fce205;
  color: #6e6e6e;
}

.w-btn-yellow-outline:hover {
  background-color: #fce205;
  color: #6e6e6e;
}

#email_check{
  border-radius: 20px;
  width: 200px;
  height: 30px;
  box-shadow: 3px 3px 3px black;
  font-family: "paybooc-Light";
  margin:auto;
  cursor: pointer;
  margin-top: 10px;
 
}

#email_check:hover{
  background-color:  rgb(236, 224, 152);
  transition: 0.7s;
  width: 250px;
  height: 40px;
  
}

#auth_div{
  margin-top: 10px;
  display: none; 

}

.find-link:link{

  text-decoration: none;
}

.find-link:link:hover{
  transition: 0.7s;
  text-size-adjust: 100px;
}

.socialBtn{
  width: 70px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(235, 235, 208);
margin-left: 1px;
  text-align: center;
  display: inline-block;
}


#socialBtnDiv{
  text-align: center;
}

#googleBtn{
  color : black;
  background-color: white;
  border: 1px solid rgb(238, 157, 157);
}

#googleBtn:hover{
  color : white;
  background-color: red;
  border: 1px solid rgb(238, 157, 157);
  transition: 0.7s;
  width:73px;
  height: 50px;;
}

#facebookBtn{
  color : black;
  background-color: white;
  border: 1px solid rgb(69, 57, 231);
}

#facebookBtn:hover{
  color : white;
  background-color: rgb(15, 11, 228);
  border: 1px solid rgb(135, 97, 241);
  transition: 0.7s;
  width:73px;
  height: 50px;;
}

#kakaoBtn{
  color : black;
  background-color: white;
  border: 1px solid rgb(229, 233, 11);
}

#kakaoBtn:hover{
  color : white;
  background-color: rgb(245, 229, 14);
  border: 1px solid rgb(229, 233, 17);
  transition: 0.7s;
  width:73px;
  height: 50px;;
}

#naverBtn{
  color : black;
  background-color: white;
  border: 1px solid rgb(11, 233, 29);
}

#naverBtn:hover{
  color : white;
  background-color: rgb(14, 245, 45);
  border: 1px solid rgb(12, 236, 23);
  transition: 0.7s;
  width:73px;
  height: 50px;;
}

.vaild-div{
  height: 10px;
  margin-left: 5px;
}

.check-btn{
  background-color: black;
  color: white;
  border-radius: 10px;
  
}

.check-btn:hover{
  background-color: white;
  color: black;
  border-radius: 10px;
  
}