@import url('https://webfontworld.github.io/cookierun/CookieRun.css');

body {
  padding-top: 40px;
  font-family: 'CookieRun';
}
nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: #f2dfb4;
  width: 100%;
  height: 54px;
  border-bottom:1px solid rgb(219, 219, 219) ;
  z-index: 9999;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  width: 935px;
}

.navContainer .logoWrap {
  display: flex;
  align-items: center;
  width: 150px;
}

.navContainer .logoWrap img{
  width: 25px;
  cursor: pointer;
}

.navContainer .logoWrap .columnLine {
  width: 1px;
  height: 25px;
  margin-left: 22px;
  border-right: 1px solid rgb(14, 14, 14);
}

.navContainer .logoWrap .logo {
  margin-left: 25px;
  font-size: 22px;
  font-family: 'Lobster', cursive;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  width: 215px;
  height: 28px;
  padding: 7px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  background-color: #fafafa;
  text-align: center;
}

.pictogramWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
}

.pictogramWrap img{
  width: 23px;
  cursor: pointer;
}

.mainContainer {
  font-family: 'CookieRun';
  justify-content: space-between;
  margin: 0 auto;
  width: 935px;
  margin-top: 55px;
  height: 1100px;
  background-color: rgb(242, 244, 226);
} 

.floating {
  
  position: fixed; 
  right: 50%; 
  top: 180px; 
  margin-right: 460px;
  text-align:center;
  width: 120px;
 
}

.advertisement {
  position: fixed;
  margin-left: 72%;
 
}


.remocon{
  
  border : 3px solid black;
  width: 100px;
  height: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  align-items: stretch;
}



.remocon figure:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
  cursor: pointer;
}
@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

.side{
  width: 30px;
height: 10px;
background-color: #f5f3f1;
box-shadow: 0 0 3px rgba(0, 0, 0, 1);
border-radius: 15px;
position: absolute;
z-index: 10;
border: 3px solid black;
}

.side1 { top: 40px; left: 92px; }
.side2 { top: 80px; left: 92px; }
.side3 { top: 200px; left: 92px; }
.side4 { top: 240px; left: 92px; }

/* footer{
  background-color: red;
  position : fixed;
bottom : 0;
width: 100%;
height: 100px;
} */

footer{width: 100%; height: 130px; background-color:#fafafa;padding-top: 20px;}
footer .container{flex-direction: column; justify-content: center; height: 100%;}
footer .container ul{display: flex; width: 100%; justify-content: center;}
footer .container ul li{margin: 0 9px 24px;}
footer .container ul li a{font-size: 15px; color: #8e8e8e; text-decoration: none;}
footer .container .copy{display: flex;justify-content: center;}
footer .container .copy {margin-right: 10px;color: #8e8e8e;}
footer .container .copy select{border:0; background-color: #fafafa;color:#8e8e8e;margin-right: 10px;}
footer .container .copy p{font-size: 13px;padding-top: 2px;}

/* #upBtn{
  position: fixed;

  float: right;
  right: 100px;
  bottom: 30px;
} */

#upBtn{

  position: fixed;

  float: right;
  right: 5px;
  bottom: 5px;
}

#qjd{
  margin-top: -10px; padding: -3px;
}

.logo{
  font-weight: bold;
}

#book{
  margin-bottom:-10px;
}

.main{
  margin: auto;
  font-family: 'CookieRun';
  background-color: rgb(242, 244, 226);		
}

#footerColor{
  background-color: rgb(242, 244, 226);
}

a {
     text-decoration-line: none;
}
.buttonGroup{
     text-align: center;
}
.button{
   display: inline-block;
}

hr {
 border: none;
 border-top: 1px dotted;
}

#date{
  text-align: right;
}

#header{
  text-align: center;
  line-height: 50px;
  font-size: 30px;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  height: 500px;
  position: relative;
  margin: auto;
}

/* Caption text */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.writerBtn {
  text-align: center;
}

.btn-outline-warning {
  display :inline-block;
}

.actionBtn {
  text-align: center;
}

.btn-outline-warning {
  display :inline-block;
}

.infomationBtn {
  text-align: center;
}

.btn-outline-warning {
  display :inline-block;
}

#bungContent input {
  padding: 0 1em; 
  border: 0;
  height: 38px;
  width: 100%;
  border-radius: 30px;
}

#bungContent {
  width: 80%;
  height: 200px;
  border: none;
}

#carouselExampleControls {
  margin: auto;
  height: 400px;
  width: 70%;
}

.carousel-inner{
  height: 400px;
  width: 50%;
  /* display: inline;
  overflow: hidden; */
}

/* img{
  width: 50%;
  height: 400px;
  
} */

#bungTitle{
  border: none;
}

.InputGroup {
  border-radius: 30px;
  border-style: none;
  border-color: #f2dfb4;
}







