.cssBtn {
    background-color: burlywood;
    border: none;
    color: white;
    padding: 7px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

input {
    height: 38px;
    border-style: none;
}

input:focus, input:active {
    outline: burlywood;
    box-shadow: burlywood;
}

#title {
    text-shadow: -1px 0px #503C22, 0px 1px #503C22, 1px 0px #503C22, 0px -1px #503C22;
}

#serviceTitle a{
    color:burlywood;
    font-weight: bolder;
    text-shadow: -5px 0px #503C22, 0px 1px #503C22, 1px 0px #503C22, 0px -1px #503C22;
    cursor: pointer;
    text-decoration: none;
}

#serviceTitle a:hover {
    color: white;
}

@-webkit-keyframes circle {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    100% {
      width: 200%;
      height: 200%;
      opacity: 0;
    }
  }
  @keyframes circle {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    100% {
      width: 200%;
      height: 200%;
      opacity: 0;
    }
  }


.card-cover {
    position: relative;
    cursor: pointer;
}

.card-cover::before {
    position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

.card-cover:hover::before {
    -webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

.form-check-input:checked {
    background-color: white;
    border-color: burlywood;
}

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='burlywood'/%3e%3c/svg%3e");
  border-color: burlywood;
}
.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='burlywood'/%3e%3c/svg%3e");
}

#flexSwitchCheckChecked2:focus, #flexSwitchCheckChecked2:active {
    outline: none !important;
    box-shadow: none !important;
}

.currnetPriceArea {
    font-weight: bolder;
    text-shadow: -2px 0px #503C22, 0px 2px #503C22, 2px 0px #503C22, 0px -2px #503C22;
    font-size: 15px;
}
