#v-pills-profile-tab {
  display: hidden;
}

/*프로필셋팅 섹션*/
.setting-container {
    width: 700px;
    margin: 0 auto;
    border: 1px solid gainsboro;
    margin-top: 30px;
    display: flex;
    border-radius: 4px;
  }

  #viptime{
    text-align:center;
    margin-left: 45%;
    color:blue; 
    font-size:30px; 
    text-shadow:5px 5px 5px gray
  }


  
  /*프로필셋팅 아티클*/
  .setting-container .setting__content {
    border-left: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    margin-right: 10%;
  }
  
  /*프로필 셋팅 내이미지 + 아이디*/
  .setting-container .setting__content .content-item__01 {
    display: flex;
    margin-bottom: 20px;
  }
  
  /*프로필 셋팅 요소들 박스*/
  .setting-container .setting__content form > div {
    display: flex;
    margin-bottom: 20px;
  }
  
  /* 유저이미지, 유저아이디*/
  .setting-container .setting__content .content-item__01 .item__img {
    flex: 2;
    text-align: right;
    padding-right: 30px;
  }
  .setting-container .setting__content .content-item__01 .item__img img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
  }
  .setting-container .setting__content .content-item__01 .item__username {
    flex: 4;
  }
  .setting-container .setting__content .content-item__01 .item__btn h2 {
    font-size: 18px;
  }
  
  /*form 입력요소 타이틀*/
  .setting-container .setting__content div .item__title {
    flex: 2;
    padding-right: 30px;
    text-align: right;
    font-size: 17px;
    font-weight: 600;
    padding-top: 7px;
  }
  
  /*form 입력요소 인풋박스*/
  .setting-container .setting__content div .item__input {
    flex: 4;
    display: flex;
    flex-direction: column;
  }
  
  /*form 입력요소 인풋*/
  .setting-container .setting__content div .item__input input {
    border: 1px solid #dbdbdb;
    height: 32px;
    padding: 0 10px;
    border-radius: 3px;
    font-size: 16px;
  }
  
  /*form 입력요소 소개부분*/
  .setting-container .setting__content div .item__input textarea {
    border: 1px solid #dbdbdb;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 16px;
  }
  
  /* 비즈니스나 반려동물 어쩌고*/
  .setting-container .setting__content div .item__input span {
    color: #8e8e8e;
    font-size: 12px;
    padding-top: 10px;
  }
  .btn-primary {
    width: 150px;
  }
  
  /*제출버튼*/
  .setting-container .setting__content .content-item__11 .item__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  


  /*제출버튼*/
  .setting-container .setting__content .content-item__11 .item__input button {
    border: 0;
    background-color: #0095f6;
    padding: 5px 9px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }

    /*닉네임 변경 버튼*/
    .content-item__3 .item__input {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  
    .content-item__04 .item__input .button{
      border: 0;
      background-color: #0095f6;
      padding: 5px 9px;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
    }






/*------------------구독권------------  */
.setting-subsribe {
    width: 700px;
    margin: 0 auto;
    border: 1px solid gainsboro;
    margin-top: 30px;
    display: flex;
    border-radius: 4px;
  }
  
  /*프로필셋팅 아티클*/
  .setting-subsribe .setting__subsribe {
    border-left: 1px solid gainsboro;
    
    flex-direction: column;
    padding-top: 32px;
    margin-right: 10%;
  }

/*프로필 셋팅 내이미지 + 아이디*/
.setting-subsribe .setting__subsribe .content-item__01 {
display: flex;
margin-bottom: 20px;
margin-left: 200px;
}

/*프로필 셋팅 요소들 박스*/
.setting-subsribe .setting__subsribe form > div {
display: flex;
margin-bottom: 20px;
}

.content-item__01{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40%;
}

/* 유저이미지, 유저아이디*/
.setting-subsribe .setting__subsribe .content-item__01 .item__img {
flex: 2;
text-align: right;
padding-right: 30px;
}
.setting-subsribe .setting__subsribe .content-item__01 .item__img img {
width: 38px;
height: 38px;
border-radius: 50%;
}
.setting-subsribe .setting__subsribe .content-item__01 .username {
flex: 4;
}
.setting-subsribe .setting__subsribe .content-item__01 .item__btn h2 {
font-size: 18px;
}

/* Profile 사진쪽*/
.content-item__01 .profile-left .profile-img-wrap {
  width: 162px;
  height: 162px;
  padding: 6px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.content-item__01 .profile-left .profile-img-wrap img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/*모달이미지 */
.modal-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  align-items: center;
  justify-content: center;
}
.modal-image .modal {
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.modal-image .modal button {
  border: 0;
  background-color: transparent;
  height: 48px;
  cursor: pointer;
}
.modal-image .modal p {
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  color: #222;
  font-size: 18px;
}
.modal-image .modal button:nth-child(2) {
  font-weight: 600;
  color: #0095f6;
}
.modal-image .modal button:not(:last-child) {
  border-bottom: 1px solid #dbdbdb;
}


